language: node_js

cache:
  directories:
    - ~/.npm
notifications:
    email: false
node_js:
  - "node"
  - "lts/*"

before_script:
  - greenkeeper-lockfile-update

before_install:
- npm install -g npm
- npm install -g greenkeeper-lockfile@1

after_script: greenkeeper-lockfile-upload

after_success:
  - npm run travis-deploy-once --travis-url "https://travis-ci.com" "npm run semantic-release"

branches:
  except:
    - /^v\d+\.\d+\.\d+$/

#override npm ci for now
install: npm install
